body {
  background-color: rgba(45, 45, 45);
  /* background: url(../background.png) no-repeat top center/cover; */
  padding-top: 25vh;
  overflow-y: scroll;
}
form {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  color: white;
}
.form-container {
  border-radius: 20px;
  padding: 30px;
}
a {
  color: white;
}
